@mixin flex {
  display: flex;
}

@mixin flex-column {
  flex-direction: column;
}

@mixin flex-align-center{
  justify-content: center;
}
@mixin margin($margin) {
  margin: $margin;
}

@mixin height($height) {
  height: $height;
}

@mixin full-height {
  @include height(100%);
}

html {
  height: 100%;
}

